---
type Props = {
  id: number;
  title: string;
  body: string;
  url: string;
  urlTitle: string;
  additionalInfo: string;
};

const { id, title, body, url, urlTitle, additionalInfo } = Astro.props;
---

<div class="application-process-item-container">
  <p>{id}. {title}</p>
  <p>{body}</p>
  <a href={url} target="_blank">{urlTitle}</a>
  <p>Additional Info:</p>
  <p>{additionalInfo}</p>
</div>

<style>
  .application-process-item-container {
    width: 100%;
    height: 100%;
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    /* text-align: center; */
    /* flex: 1; */
    gap: 1rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
  }
</style>
